.box {
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
}
.row .card {
    height: 300px;
    background-color: rgb(217, 241, 241);
    margin: 15px 0;
    transition: 1s;
}
.row .card:hover{
    transform: scale(1.1);
}
